<footer>
    <p>© 2017 Company, Inc. All Rights Reserved.</p>
</footer>

<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/main.js"></script>
</body>
</html>