<% include partials/header %>
<div class="container-fluid">
    <%if (messages.success) { %>
    <div role="alert" class="alert alert-success">
        <% messages.success.forEach(function(data){ %>
        <div><%= data.msg %></div>
        <% });%>
    </div>
    <% } %>
    <%if (messages.error) { %>
    <div role="alert" class="alert alert-danger">
        <% messages.error.forEach(function(data){ %>
        <div><%= data.msg %></div>
        <% });%>
    </div>
    <% } %>
    <%if (messages.info) { %>
    <div role="alert" class="alert alert-info">
        <% messages.info.forEach(function(data){ %>
        <div><%= data.msg %></div>
        <% });%>
    </div>
    <% } %>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                        Donec sed odio dui.</p>
                    <a href="#" role="button" class="btn btn-default">View details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                        Donec sed odio dui.</p>
                    <a href="#" role="button" class="btn btn-default">View details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-body">
                    <h3>Heading</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
                        Donec sed odio dui.</p>
                    <a href="#" role="button" class="btn btn-default">View details</a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>